/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variables */

:root {
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --main-color: #ffa500;
  --text-color: #020102;
  --bg-color: #fff;
}

/* Custom Scroll Bar  */

html::-webkit-scrollbar {
  width: 0.7rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: var(--main-color);
}

section {
  padding: 4rem 0 2rem;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

.container {
  max-width: 1456px;
  margin-left: auto;
  margin-right: auto;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.logo span {
  color: var(--main-color);
}

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
  transition: 0.5s ease;
}

header.shadow #search-icon {
  color: var(--text-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

.navbar {
  display: flex;
  column-gap: 2rem;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.nav.active {
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;
}

.home {
  max-width: 1524px;
  margin: auto;
  width: 100%;
  min-height: 540px;
  /* height: 740px; */
  display: flex;
  align-items: center;
  background: url(img/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.home-text {
  padding-left: 130px;
}

.home-text h1 {
  font-size: 2.4rem;
}

.home-text span {
  color: var(--main-color);
}

.home-text p {
  font-size: 0.938rem;
  font-weight: 300;
  margin: 0.5rem 0 1.2rem;
}

.btn {
  padding: 10px 20px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}

.btn:hover {
  background: #f1b545;
}

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  color: var(--main-color);
}

.heading p {
  font-size: 0.988rem;
  font-weight: 300;
}

/* Cars  */

/* .cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cars-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cars-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background: orange;
  color: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
  background: var(--main-color);
  color: var(--bg-color);
} */

/* Vehicles */

.heading-v {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  color: #020102;
}

.heading-v span {
  position: relative;
  color: var(--main-color);
}

.vehicles .vehicle-slider {
  padding-bottom: 5rem;
  height: 777px;
}

.vehicles .vehicle-slider .box {
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.vehicles .vehicle-slider .box img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  opacity: 0.5;
  transform: scale(0.8);
}

.vehicles .vehicle-slider .box .content {
  transform: scale(1);
  opacity: 0.5;
  padding-top: 1rem;
}

.vehicles .vehicle-slider .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}

.vehicles .vehicle-slider .swiper-slide-active .content {
  opacity: 1;
  /* transform: scale(1); */
}

.vehicles .vehicle-slider .swiper-slide-active .content .btn {
  margin-top: 10px;
}

.vehicles .vehicle-slider .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.vehicles .vehicle-slider .box .content .price {
  font-size: 2.5rem;
  color: var(--light-yellow);
  padding: 1rem 0;
  font-weight: bolder;
}

.vehicles .vehicle-slider .box .content .price span {
  font-size: 1.7rem;
  color: var(--light-color);
  font-weight: normal;
}

.vehicles .vehicle-slider .box .content p {
  font-size: 1.6rem;
  padding: 1rem;
  padding-top: 1.5rem;
  border-top: var(--border);
  color: var(--light-color);
}

.vehicles .vehicle-slider .box .content p span {
  color: var(--yellow);
  font-size: 0.8rem;
  padding: 0 0.5rem;
}



.swiper-pagination-bullet-active {
  background: var(--yellow);
}

/* CARS  */

.featured {
  padding: 1rem;
  padding-bottom: 4rem;
}

.featured .heading {
  font-size: 3rem;
  margin-bottom: 40px;
}

.featured .heading span {
color: var(--main-color);
font-weight: bold;
}

.featured .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.featured .wrapper .box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 17rem;
  text-align: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  max-width: 40rem;
}

.featured .wrapper .box img {
  height: 15rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.featured .wrapper .box:hover img {
  transform: scale(0.9);
}

.featured .wrapper .box h3 {
  font-size: 2.2rem;
  color: var(--black);
}

.featured .wrapper .box marquee {
  margin: 0 auto;
}

.featured .wrapper .box .stars {
  padding: 1rem 0;
}

.featured .wrapper .box .stars i {
  font-size: 1.7rem;
  color: var(--yellow);
}

.featured .wrapper .box .price {
  font-size: 2.5rem;
  color: var(--black);
  
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.about-img {
  flex: 1 1 21rem;
}
.about-text {
  flex: 1 1 21rem;
}
.about-text span {
  font-weight: 500;
  color: var(--main-color);
}
.about-text h2 {
  font-size: 1.7rem;
}
.about-text p {
  font-size: 0.988rem;
  margin: 0.5rem 0 1.4rem;
}

/* parts  */

.parts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.parts-container .box {
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 0.5rem;
  max-width: 22rem;
  text-align: center;
}

.parts-container .box .box-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}

.parts-container .box h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.parts-container .box span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}

.parts-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}

.parts-container .box form {
  height: 73px;
}
.parts-container .box form .btn {
  max-width: 120px;
}

/* .parts-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}

.parts-container .box .deatils:hover {
  color: var(--main-color);
  text-decoration: underline;
} */

/* Blog */

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.blog-container .box {
  flex: 1 1 13rem;
  padding: 20px;
}

.blog-container .box img {
  aspect-ratio: 3/2;
  object-fit: contain;
}

.blog-container .box:hover {
  background: #f6f6f6;
}

.blog-container .box span {
  font-size: 0.8rem;
  color: var(--main-color);
}

.blog-container .box h3 {
  font-size: 1.2rem;
}

.blog-container .box p {
  font-size: 0.938rem;
  margin: 4px 0;
}

.blog-container .box .blog-btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--text-color);
}

.blog-container .box .blog-btn .bx {
  font-size: 20px;
}

.blog-container .box .blog-btn:hover {
  color: var(--main-color);
  column-gap: 0.7rem;
  transition: 0.4s;
}

.footer {
  background: var(--text-color);
  color: #f6f6f6;
  border-top: 2px solid var(--main-color);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.footer-container .logo {
  color: var(--bg-color);
  margin-bottom: 1rem;
}

.footer-container .footer-box {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 24px;
  color: var(--bg-color);
  margin-right: 1rem;
}

.social a:hover {
  color: var(--main-color);
}

.footer-box h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-box a,
.footer-box p {
  color: #818181;
  margin-bottom: 10px;
}

.footer-box a:hover {
  color: var(--bg-color);
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--text-color);
}

@media (max-width: 1464px) {
  .footer-container {
    padding: 0px 10px;
  }
  .cars-container {
    padding: 0px 15px;
  }
  .parts-container {
    padding: 0px 15px;
  }
}

/* @media (max-width: 1280px) {
  .featured .wrapper .box {
  width: 22vw;
  }
}

@media (max-width: 1186px) {
  .featured .wrapper .box .price{
    font-size: 2rem;
    margin-bottom: 5px;
  }
} */

@media (max-width: 1080px) {
  .container {
    /* margin-left: 1rem; */
    margin-right: 1rem;
  }
}

/* @media (max-width: 1066) {
  .featured .wrapper .box {
    width: 5rem;
    max-width: 30vw;
  }
  .featured .wrapper .box h3 {
    font-size: 1.8rem;
  }
  .featured .wrapper .box .stars i {
    font-size: 1rem;
  }
} */

@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
  .home-text {
    padding-left: 2rem;
  }
  .home-text h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 920px) {
  #search-icon {
    color: var(--text-color);
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 10px;
  }
  #menu-icon {
    display: block;
  }
  #menu-icon .fa-times {
    transform: rotate(180deg);
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    /* background: var(--bg-color); */
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    clip-path: circle(0% at 0% 0%);
    transition: 0.6s;
  }
  .navbar a {
    display: block;
    padding: 15px;
  }
  .navbar a:hover,
  .navbar.active {
    border-radius: none;
    background: var(--main-color);
    color: var(--bg-color);
  }
  .nav .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav .navbar {
    background: #fff;
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 0 0);
  }
  .blog-container .box {
    padding: 4px;
  }
}

@media (max-width: 727px) {
  .heading span {
    font-size: 0.9rem;
  }
  .heading h2 {
    font-size: 1.4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 607px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 490px) {
  .parts-container {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .heading-v {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .search-box input {
    padding: 11px;
  }
  .home {
    min-height: 500px;
  }
  .home-text h1 {
    font-size: 2rem;
  }
  .home-text p br {
    display: contents;
  }
}
